@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

.input {
  display: block;
}

.input:focus { outline: none }

.label {
  position: absolute;
  left: 0px; 
  top: 15px;
  transition: 0.2s ease all;
}

.focused .label, input:valid ~ label {
  top: -10px;
  background-color: #fff;
  padding: 0 5px;
  margin-left: 0.9rem;
  color: #6d3eff;
  font-weight: 600;
}

.focused .input, .input:valid {
  border-color: #6d3eff;
  font-weight: 600;
}

input:required {
  box-shadow: none;
}

.bg-purple-gradient {
  background: linear-gradient(180deg, #411E82 0%, #6D3EFF 100%);
}

.editing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41,35,53,0.91);
  z-index: 10;
}

.active {
  @apply text-purple-500;
}