<form class="w-3/5">
  <div class="py-8">
    <div class="w-full mb-2">
      <label for="fname" class="text-purple-500 text-sm pl-4 font-semibold">First Name</label>
      <Input @id="fname" @value="First Name"
        class="w-full border border-solid-grey rounded p-1 mt-1 mb-1 text-gray-600 pl-4" />
    </div>
    <div class="w-full mb-2">
      <label for="lname" class="text-purple-500 text-sm pl-4 font-semibold">Last Name</label>
      <Input @id="lname" @value="Last Name"
        class="w-full border border-solid-grey rounded p-1 mt-1 mb-1 text-gray-600 pl-4" />
    </div>
    <div class="w-full mb-2">
      <label for="email" class="text-purple-500 text-sm pl-4 font-semibold">Email</label>
      <Input @id="email" @value="Email"
        class="w-full border border-solid-grey rounded p-1 mt-1 mb-1 text-gray-600 pl-4" />
    </div>
    <div class="w-full mb-2">
      <label for="password" class="text-purple-500 text-sm pl-4 font-semibold">Password</label>
      <Input @id="password" @value="Password"
        class="w-full border border-solid-grey rounded p-1 mt-1 mb-1 text-gray-600 pl-4" />
    </div>
    <div class="w-full mb-2">
      <label for="confirm" class="text-purple-500 text-sm pl-4 font-semibold">Confirm Password</label>
      <Input @id="confirm" @value="Confirm Password"
        class="w-full border border-solid-grey rounded p-1 mt-1 mb-1 text-gray-600 pl-4" />
    </div>
    <div>
    </div>
    <div class="flex mt-8 pb-6 justify-end">
      <div class="flex flex-col">
        <button type="submit" name="button"
          class="rounded-full bg-purple-500 text-white font-semibold py-2 px-4 rounded-full text-center pb-3 hover:shadow-lg flex w-full justify-between items-center">Create
          Account <img src="/img/icons/ChevronWhite.svg" class="w-3 -rotate-90 transform" alt="continue"></button>
        <button type="submit" class="text-purple-500 px-6 py-4 hover:bg-grey-lightest rounded-lg text-xs">Already
          registered? <span class="font-semibold underline">Log in</span> here!</button>
      </div>
    </div>
  </div>
</form>